body{
    margin: 0;
    background: #111;
}
.white-space{
    width: 100%;
    height: 5px;
    background: white;
}
.black-space{
    width: 100%;
    height: 80px;
    background: black;
}

@media(max-width: 768px){
    .black-space{
        height: 60px;
    }
}