body{
    margin: 0;
    background: #111;
}
.white-space{
    width: 100%;
    height: 5px;
    background: white;
}
.black-space{
    width: 100%;
    height: 110px;
    background: black;
}

@media(max-width: 840px){
    .black-space{
        height: 90px;
    }
}
@media(max-width: 500px){
    .black-space{
        height: 70px;
    }
}